<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h2 class="project-name">{{ page.title | default: site.title }}</h2>
      <h1 class="project-tagline">{{ site.description }}</h1>
      <!-- <a href="{{ '/' | relative_url }}" class="btn">Inicio</a> -->
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">Manual Usuario GTA</span>
        <span class="site-footer-credits">Serviges Box, S.L.</span>
      </footer>
    </main>
  </body>
</html>